sgiref==3.4.1
certifi==2021.10.8
charset-normalizer==2.0.7
click==8.0.1
colorama==0.4.4
dirsync==2.2.5
Django==3.2.8
djangorestframework==3.12.4
flake8==3.9.2
flake8-docstrings==1.6.0
flake8-polyfill==1.0.2
Flask==1.1.2
idna==3.3
isort==5.9.3
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
mccabe==0.6.1
pep8-naming==0.12.1
pycodestyle==2.7.0
pydocstyle==6.1.1
pyflakes==2.3.1
pytz==2021.1
requests==2.26.0
six==1.16.0
snowballstemmer==2.1.0
sqlparse==0.4.1
typing-extensions==3.10.0.0
urllib3==1.26.7
Werkzeug==2.0.1